<div class="hud_dashboard">
    <section class="header_hud">
        <img src="../../../../assets/logo/logo-nome.jpg">
    </section>
    <div class="h1_hud">
        <h1>Automação da folha de pagamento</h1>
    </div>
    <section class="body_hud">
        <div class="info_hud">
            <div class="info">
                <div class="info_company">
                    <img src="../../../../assets/icon_hud/relatorio.png" alt="Relatorio_icon">
                    <h4 style="width: 100px;">Nome: Ibank</h4>
                </div>

                <div class="info_company">
                    <img src="../../../../assets/icon_hud/companhia.png" alt="company_icon">
                    <h4>CNPJ: 01.554.285./0001-52</h4>
                </div>

                <div class="info_company">
                    <img src="../../../../assets/icon_hud/equipe.png" alt="equipe_icon">
                    <h4>Quantidade de funcionários: 14</h4>
                </div>

                <div class="info_company">
                    <img src="../../../../assets/icon_hud/calendar.png" alt="calendario_icon">
                    <h4>Data do próximo pagamento:  05/12</h4>
                </div>
            </div>
        </div>
    </section>
</div>