<mat-form-field [ngClass]="appTamanho" appearance="fill">
  <mat-label>{{ appLabel }}</mat-label>
  <input 
    [(ngModel)]="appModel" 
    (ngModelChange)="alterouModel($event)" 
    matInput [type]="hide ? 'password' : 'text'"
    [placeholder]="appPlaceHolder" 
    [disabled]="appDisabled"
    [formControl]="control">
  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
    [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </button>
</mat-form-field>