<mat-form-field style="border-radius: 8px;" [ngClass]="appTamanho" appearance="outline">
    <mat-label>{{ appLabel }}</mat-label>
    <input 
        [(ngModel)]="appModel" 
        (ngModelChange)="alterouModel($event)" 
        autocomplete="off" 
        matInput 
        [placeholder]="appPlaceHolder" 
        [value]="appValue" 
        [disabled]="appDisabled" 
        [required]="appRequired"
        prefix="R$ " 
        mask="separator.2" 
        thousandSeparator="."
        [formControl]="control">
    <mat-error>Campo obrigatório</mat-error>
</mat-form-field>
