<div class="hud_dados">
    <section class="dados">
        <div class="dados_empresa">
            <h3>Razão social</h3>
            <h3>Ibank serviços financeiros ltda</h3>
        </div>
        <div class="dados_empresa">
            <h3>CNPJ</h3>
            <h3>61.963.825/0001-09</h3>
        </div>
        <div class="dados_empresa">
            <h3>Tipo de atividade</h3>
            <h3>64.21-2: Bancos comerciais</h3>
        </div>
        <div class="dados_empresa">
            <h3>Endereço</h3>
            <h3>Rua Carlos Eitor, 341</h3>
        </div>
        <div class="dados_empresa">
            <h3>CEP</h3>
            <h3>14800-875</h3>
        </div>
        <div class="dados_empresa">
            <h3>Regime tributário</h3>
            <h3>Simples nacional epp</h3>
        </div>
    </section>
</div>