<div>
    <div class="rf-bfe-product-dimension-colornav-header">Cor - {{ selectedColor }}</div>
    <div class="colornav-items">
        <img alt="" tabindex="1" (click)="selectImage('Roxo-profundo')" [class.selected-color] = "selectedColor === 'Roxo-profundo'"
        src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/iphone-pro-finish-deeppurple-2022?wid=204&amp;amp;hei=204&amp;amp;fmt=jpeg&amp;amp;qlt=90&amp;amp;.v=1660940059549"/>
        <img alt="" tabindex="2" (click)="selectImage('Dourado')" [class.selected-color] = "selectedColor === 'Dourado'"
            src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/iphone-pro-finish-gold-2022?wid=204&amp;amp;hei=204&amp;amp;fmt=jpeg&amp;amp;qlt=90&amp;amp;.v=1660940059548"/>
        <img alt="" tabindex="3" (click)="selectImage('Prateado')" [class.selected-color] = "selectedColor === 'Prateado'"
            src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/iphone-pro-finish-silver-2022?wid=204&amp;amp;hei=204&amp;amp;fmt=jpeg&amp;amp;qlt=90&amp;amp;.v=1660940059549"/>
        <img alt="" tabindex="4" (click)="selectImage('Preto-espacial')" [class.selected-color] = "selectedColor === 'Preto-espacial'"
            src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/iphone-pro-finish-spaceblack-2022?wid=204&amp;amp;hei=204&amp;amp;fmt=jpeg&amp;amp;qlt=90&amp;amp;.v=1660940059549"/>
    </div>
</div>