<div class="card">
    <div class="card-head">
        <h2 style="margin: 0;">Folha de pagamento</h2>
    </div>
    <div class="card-body">
        <div class="responsivo">
            <app-text-box
                id="txtCodigo"
                appLabel="Código"
                appPlaceHolder="Insira o código"
                appTamanho="width-pequeno-medio">
            </app-text-box>
        </div>
        <div class="responsivo">
            <app-text-box
                id="txtCodigoColaborador"
                appLabel="Código do colaborador"
                appPlaceHolder="Insira o código do colaborador">
            </app-text-box>
            <app-date-picker
                id="txtDtReferente"
                appLabel="Data de referente ao pagamento"
                appPlaceHolder="Insira a data referente ao pagamento"
            >
            </app-date-picker>
            <button 
                type="button" 
                class="btn btn-primary width-pequeno-medio"
                style="height: 55px;"
                (click)="onIniciar();">
                Iniciar
            </button>
        </div>
        <div class="border">
            <div class="responsivo">
                <app-text-box
                    id="txtQtdDiasFaltas"
                    appLabel="Quantidade de faltas"
                    appPlaceHolder="Insira a quantidade de faltas em dias">
                </app-text-box>
                <app-text-box
                    id="txtQtdHoraExtra"
                    appLabel="Quantidade horas extra"
                    appPlaceHolder="Insira a quantidade de horas extras">
                </app-text-box>
                <app-text-box
                    id="txtPercentualHoraExtra"
                    appLabel="Porcentual horas extra"
                    appPlaceHolder="Insira o porcentual de valor da horas extras">
                </app-text-box>
            </div>
        </div>
    </div>
</div>