<div class="card">
    <div class="card-head">
        <h2 style="margin: 0;">Folha de pagamento</h2>
    </div>
    <div class="card-body">
        <div class="responsivo">
            <!-- <app-text-box
                id="txtCodigo"
                appLabel="Código"
                appPlaceHolder="Insira o código"
                appTamanho="width-pequeno-medio"
                (focusout)="onBuscar();"
                [control]="colaborador.controls.id">
            </app-text-box> -->
        </div>
    </div>
</div>