<div>
  <div style="width: 100%; height: 100vh;">
    <div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); grid-column-gap: 50px; place-items: center; height: 100%;">
      <div class="card card-container col-md-12">
        <img
          id="profile-img"
          width="60%" src="../../../assets/logo/logo-nome.jpg"
          class="profile-img-card center"/>
        <div style="display: flex; justify-content: center;">
          <div style="padding-top: 30px; display: flex; flex-direction: column;">
            <app-text-box
            id="txtUsuario"
                  [(appModel)]="usuario"
                  appLabel="Usuário"
                  appValue=""
                  appPlaceHolder="Digite seu usuário"
                  appTamanho="width-medio">
              </app-text-box>
              <app-text-box-password
                  id="txtSenha"
                  [(appModel)]="senha"
                  appLabel="Senha"
                  appPlaceHolder="Digite sua senha"
                  appTamanho="width-medio">
                </app-text-box-password>
                <a (click)="resetPassword()" style="margin-bottom: 10px; cursor: pointer;">Recuperar senha</a>
                <app-label-alert
                  appTamanho="width-medio"
                  [appLabel]="tituloModalMensagemErro"
                ></app-label-alert>
                <app-button
                  id="btnEntrar"
                  (click)="open()"
                  appTamanho="width-medio"
                  appText="Entrar"> 
              </app-button>
              <div class="overlay">
                <img id="loading-gif" src="../../../../../assets/loading/logoanimadaGif.gif" alt="Carregando..." class="centered" />
              </div>              
          </div>
        </div>
      </div>
      <div class="hud_login">
        <h2 style="text-align: initial;">Tenha mais eficiência no gerenciamento</h2>
        <img
        id="profile-img"
        src="../../../assets/logo/img-login.jpg"
          class="profile-img-card center"/>
          <h2 style="text-align: end;">da sua folha de pagamento.</h2>
        </div>
    </div>
  </div>
</div>