<mat-toolbar class="flex gap-3 justify-center items-center border-b-2">
  <div
    (click)="toggle()"
  >
    <img style="width: 30px;" src="../../../../assets/menu.png" />
  </div>
  <span>PayTech</span>
  <span class="flex-1 flex-shrink"></span>
</mat-toolbar>

<mat-drawer-container class="container">
  <mat-drawer mode="side" [opened]="opened" class="menu">
    <div class="ordena-menu">
      <app-sidebar></app-sidebar>
      <mat-nav-list role="navigation">
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          mat-list-item
          role="button"
        >
          <mat-icon style="margin: 0 16px 0 16px;" matListItemIcon>exit_to_app</mat-icon>
          <h3 style="margin: 0;" matListItemTitle class="self-end">Sair</h3>
        </a>
      </mat-nav-list>
    </div>
  </mat-drawer>

  <mat-drawer-content>
    <main class="main__content">
      <router-outlet></router-outlet> 
    </main>
  </mat-drawer-content>
</mat-drawer-container>
