<div class="card">
  <div class="card-head">
    <h3 style="margin: 0">Cadastro de produto</h3>
  </div>
  <div class="card-body">
      <div class="responsivo">
        <app-money
          id="txtValorCusto"
          appLabel="Valor custo"
          appPlaceHolder="Insira o valor de custo">
        </app-money>
      </div>
      <div class="responsivo">
        <button type="submit" class="btn btn-success">Salvar</button>
        <button type="button" class="btn btn-light">Editar</button>
        <button type="button" class="btn btn-danger">Excluir</button>
      </div>
  </div>
</div>
